<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
    <link rel="stylesheet" href="../styles/image.css">
    <link rel="stylesheet" href="../styles/comments.css">
    <script src="/scripts/authFetch.js" defer></script>
    <script src="https://kit.fontawesome.com/2db25d6296.js" crossorigin="anonymous"></script> 
</head>
<body>

    <div id="headerContainer"></div>
    <h1>Feed</h1>


    <div id="postContainer"></div>
    <template id="postTemplate">
        <div class="post">
            <img class="post-image" src="" alt="Image">
            <div class="caption"></div>
            <div class="info"></div>
            <div class="actions">
                <div style="display:flex;align-items: center;">
                    <div><img src="/assets/heart-white.png" id="heart-img" class="like-button fa-heart" style="width: 15px" id="sendLike"/></div>
                    &nbsp;
                    <span class="likes-container"></span>
                </div>
                
                <div>
                    <a href="#" class="view-comments-button">Ver comentarios</a>
                </div>
            </div>
            
        </div>
    </template>

    <div id="pagination"></div>
    <div id="footerContainer"></div>
    <script src="/scripts/templateLoader.js"></script>
    <script src="/scripts/pagination.js"></script>
    <script src="/scripts/post.js"></script>
</body>
</html>
