<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
    <link rel="stylesheet" href="../styles/image.css">
    <link rel="stylesheet" href="../styles/comments.css">
    <script src="/scripts/authFetch.js" defer></script>
</head>
<body>
    <div id="headerContainer"></div>
    <h1>Feed</h1>


    <div id="postContainer"></div>
    <template id="postTemplate">
        <div class="post">
            <img class="post-image" src="" alt="Image">
            <div class="caption"></div>
            <div class="info"></div>
            <div class="actions">
                <button class="like-button">Like</button>
                <a href="#" class="view-comments-button">Ver comentarios</a>
            </div>
            <div class="likes-container"></div>
        </div>
    </template>

    <div id="pagination"></div>
    <div id="footerContainer"></div>
    <script src="/scripts/templateLoader.js"></script>
    <script src="/scripts/pagination.js"></script>
    <script src="/scripts/post.js"></script>
</body>
</html>
