<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/pico.min.css">
    <link rel="stylesheet" href="../styles/myPico.css">
    <link rel="stylesheet" href="../styles/normalize.css">
</head>
<body>


    <h1>camagru @albgarci</h1>

    <a href="/feed">See published photos</a>
    <br>
    <span>or</span>
    <br>

    <h3>Login</h3>
    <form id="loginForm">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        <button type="submit">Login</button>
    </form>

    <br>
    <span style="visibility: hidden;" id="loginFormBanner"></span>
    <br>
    <a href="/signup">New here? Create an account</a>
    <br>
    <a href="/recover">Forgot password?</a>
    
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            const token = localStorage.getItem('token');
            if (token){
                window.location.replace("/user/edit");
            }
        });


        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            fetch('/api/user/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email: email, password: password })
            })
            .then(response => response.json())
            .then(data => {
                if (data.token) {
                    localStorage.setItem('token', data.token);
                    window.location.replace("/user/edit");
                } else if (data.message) {
                    document.getElementById("loginFormBanner").textContent = data.message;
                    document.getElementById("loginFormBanner").style.visibility= "visible";
                    document.getElementById("loginForm").hidden = true;
                }
                else{
                    document.getElementById("loginFormBanner").textContent = "Try again";
                    document.getElementById("loginFormBanner").style.visibility= "visible";
                }
            })
            .catch(error => {
                document.getElementById("loginFormBanner").textContent = "Bad credentials, try again";
                document.getElementById("loginFormBanner").style.visibility= "visible";
            });
        });
    </script>
</body>
</html>
