<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Post</title>
    <script src="/scripts/authFetch.js" defer></script>
    <link rel="stylesheet" href="../styles/image.css">
    <link rel="stylesheet" href="../styles/comments.css">
    <script src="/scripts/templateLoader.js"></script>
    <script src="https://kit.fontawesome.com/2db25d6296.js" crossorigin="anonymous"></script> 
</head>
<body>
    <div id="headerContainer"></div>
    <div id="postContainer">


    </div>
    <div class="comment-form">
        <textarea id="commentText" placeholder="Escribe un comentario..."></textarea>
        <button id="submitComment">Enviar</button>
        <div id="commentError" style="color: red; display: none;">El comentario debe tener entre 1 y 256 caracteres.</div>
    </div>

    <button class="like-button" id="sendLike">Like</button>
    <div id="footerContainer"></div>
    <template id="postTemplate">
        <div class="post">
            <img class="post-image" src="" alt="Imagen de la publicación">
            <div class="caption"></div>
            <div class="info"></div>
            <div class="actions">
                <span class="like-button" id="sendLike">
                    <i class="fa-regular fa-heart"></i>
                </span>
                <span class="likes-container"></span>
                <div>
                    <a href="#" class="view-comments-button">Ver comentarios</a>
                </div>
            </div>
        </div>
    </template>

    <template id="commentTemplate">
        <div class="comment">
            <span class="comment-username"></span>
            <span class="comment-date"></span>
            <div class="comment-text"></div>
            
        </div>
    </template>
    <script src="scripts/image.js"></script>
    <script src="scripts/post.js"></script>

</body>
</html>
