<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <script src="/scripts/authFetch.js" defer></script>
    <script src="https://kit.fontawesome.com/2db25d6296.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="../styles/pico.min.css">
    <link rel="stylesheet" href="../styles/myPico.css">
    <link rel="stylesheet" href="../styles/publish.css">
    <link rel="stylesheet" href="../styles/modal.css">
    <link rel="stylesheet" href="../styles/cam.css">
    <script>

        const token = localStorage.getItem('token');

        if (!token) {
            window.location.replace("/home");
        }

    </script>
</head>
<body>
    <div id="headerContainer"></div>
    

    <div id="postContainer">

        <br />
        <button id="publishFromDevice">Publish picture from device</button> 
        <br />
        <button id="openCamera">Take photo with the camera</button>
        <div id="takePhotoContainer">
            <div class="camContainer" id="camContainer">
                <div class="watermark">
                    <img src="/assets/dog.png" id="watermark-display"/>
                </div>
                <div class="camera">
                <video id="video">Video stream not available.</video>
                </div>
                <canvas class="cam" id="canvas"> </canvas>


            </div>
            <div id="take" class="take">
            <button id="startbutton" class="cameraButtons">Take photo</button>
            <button id="takeanother" class="cameraButtons">Take another photo</button>
            <button id="publish" class="cameraButtons">Publish</button>
            </div>
            <br>
            <div class="watermark-container">
                <div class="watermark-img" id="dog">
                    <img src="/assets/dog.png" />
                </div>
                <div class="watermark-img" id="cat">
                    <img src="/assets/cat.png" style="top:50%"/>
                </div>
                <div class="watermark-img" id="sloth">
                    <img src="/assets/sloth.png" />
                </div>
            </div>
        </div>
        <br>
        <br>

        <div class="publishMainContainer" id="publishMainContainer">



            <div class="publishMain" id="publishMain">
            <h1>Post image</h1>
                <form id="uploadForm" enctype="multipart/form-data">
                    <input type="file" id="imageFile" name="imageFile" accept="image/*" required>
                    <br>
                    Caption: <input type="text" id="caption" name="caption">
                    <br>
                    <br>
                    <button type="submit">Upload image</button>
                </form>

                <span style="visibility: hidden;" id="formFeedback"></span>
            </div>
            <br>
            <br>

        </div>
    </div>

    <div class="container">
        <h1>My published images</h1>
        <div id="publishSide">
        </div>
    </div>


    <div id="footerContainer"></div>
    <template id="imageForSidebar">
        <div class="sidebar-post">
            <img class="sidebar-img" src="" />
            <div class="sidebar-actions">
                <button class="delete-button" id="deleteImage">
                    Delete
                </button>
            </div>
        </div>
    </template>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="modalText"></p>
            <img src="" id="modalImg"><br>
            <button id="confirmBtn">Confirm</button>
        </div>
    </div>
    <script src="/scripts/templateLoader.js"></script>
    <script>

        document.getElementById('cat').addEventListener("click", function(event){

            const src = document.getElementById("cat").firstElementChild.src
            document.getElementById("watermark-display").src = src;
        })

        document.getElementById('dog').addEventListener("click", function(event){

            const src = document.getElementById("dog").firstElementChild.src
            document.getElementById("watermark-display").src = src;
        })

        document.getElementById('sloth').addEventListener("click", function(event){

            const src = document.getElementById("sloth").firstElementChild.src
            document.getElementById("watermark-display").src = src;
        })

        document.getElementById('uploadForm').addEventListener('submit', function(event) {

            const token = localStorage.getItem('token');
            const headers = {};

            if (token) {
                //to do: check exp date from token. if expired, remove token and redirect to home
                headers['Authorization'] = `Bearer ${token}`;
            }else if(!["/home", "/signup"].includes(window.location.pathname)){
                window.location.replace("/home");
            }
            event.preventDefault();
            var formData = new FormData();
            var imageFile = document.getElementById('imageFile').files[0];
            formData.append('imageFile', imageFile);
            formData.append('caption', document.getElementById("caption").value);

            fetch('/api/image', {
                method: 'POST',
                headers,
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(err => {
                        throw new Error(err.message || "Upload failed");
                    });
                }   
                return response.json()
            })
            .then(data => {
                document.getElementById("formFeedback").textContent = "Upload successfully";
                document.getElementById("formFeedback").style.visibility= "visible";
                //console.log(data);
                displayMyImages(data);
            })
            .catch(error => {
                document.getElementById("formFeedback").textContent = error;
                document.getElementById("formFeedback").style.visibility = "visible";
            });
        });
    </script>
    <script src="scripts/myImages.js"></script>
    <script src="scripts/cam.js"></script>
</body>
</html>
