<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <script src="/scripts/authFetch.js" defer></script>
    <script src="https://kit.fontawesome.com/2db25d6296.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="../styles/pico.min.css">
    <link rel="stylesheet" href="../styles/myPico.css">
    <link rel="stylesheet" href="../styles/publish.css">
    <link rel="stylesheet" href="../styles/modal.css">
    <link rel="stylesheet" href="../styles/cam.css">
    <script>

        const token = localStorage.getItem('token');

        if (!token) {
            window.location.replace("/home");
        }

    </script>
</head>
<body>
    <div id="headerContainer"></div>
    

    <div id="postContainer">

        <br />
        <button id="publishFromDevice">Publish picture from device</button> 
        <br />
        <button id="openCamera">Take photo with the camera</button>
        <div id="takePhotoContainer" style="display:none">
            <div class="camContainer" id="camContainer">
                <div class="watermark">
                    <img src="/assets/dog.png" id="watermark-display"/>
                </div>
                <div class="camera">
                <video id="video">Video stream not available.</video>
                </div>
                <canvas class="cam" id="canvas"> </canvas>


            </div>
            <div id="take" class="take">
            <button id="startbutton" class="cameraButtons">Take photo</button>
            

            <span style="display: none;" id="caption-cam-span">Caption: <input type="text" id="caption-cam" name="caption"></span>
            <button id="publish" class="cameraButtons">Publish</button>
            <div id="takeanother-or" class="takeanother-or"> 
                <a id="takeanother" href="#">...or discard it and take another photo?</a><br> 
            </div>
            </div>
            <br>
            <div class="watermark-container">
                <div class="watermark-img" id="dog">
                    <img src="/assets/dog.png" />
                </div>
                <div class="watermark-img" id="cat">
                    <img src="/assets/cat.png" style="top:50%"/>
                </div>
                <div class="watermark-img" id="sloth">
                    <img src="/assets/sloth.png" />
                </div>
            </div>
        </div>
        <br>
        <br>

        <div class="publishMainContainer" id="publishMainContainer" style="display:none">



            <div class="publishMain" id="publishMain">
            <h1>Post image</h1>
                <form id="uploadForm" enctype="multipart/form-data">
                    <input type="file" id="imageFile" name="imageFile" accept="image/*" required>
                    <br>
                    Caption: <input type="text" id="caption" name="caption">
                    <br>
                    <br>
                    <button type="submit">Upload image</button>
                </form>


            </div>
            <br>
            <br>

        </div>

        <span style="visibility: hidden;" id="formFeedback"></span>
    </div>

    <div class="container">
        <center><h1>My published images</h1></center>
        <div id="publishSide">
        </div>
    </div>


    <div id="footerContainer"></div>
    <template id="imageForSidebar">
        <div class="sidebar-post">
            <img class="sidebar-img" src="" />
            <div class="sidebar-actions">
                <button class="delete-button" id="deleteImage">
                    Delete
                </button>
            </div>
        </div>
    </template>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="modalText"></p>
            <img src="" id="modalImg"><br>
            <button id="confirmBtn">Confirm</button>
        </div>
    </div>
    <script src="/scripts/templateLoader.js"></script>
    <script>

 
    </script>
    <script src="scripts/myImages.js"></script>
    <script src="scripts/cam.js"></script>
</body>
</html>
