<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link rel="stylesheet" href="../styles/pico.min.css">
    <link rel="stylesheet" href="../styles/myPico.css">
    <link rel="stylesheet" href="../styles/normalize.css">
</head>
<body>
    <div class="container">
        <h1>Recover password</h1>
        <form id="recoverForm">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
            <br>
            <input type="submit">
            
        </form>
        <span style="visibility: hidden;" id="recoverFormBanner"></span>
        <br>
        <a href="/">Go to login</a>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            localStorage.removeItem('token'); 
        });

        document.getElementById('recoverForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const email = document.getElementById('email').value;

            fetch('/api/user/recover', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email })
            })
            .then(data => {
                document.getElementById("recoverFormBanner").textContent = "If the email is valid, it will receive a recovery email";
                document.getElementById("recoverFormBanner").style.visibility= "visible";
            })
            .catch(error => {
            });
        });
    </script>
</body>
</html>
