<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <script src="/scripts/authFetch.js" defer></script>
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/user/edit">Edit profile</a></li>
                <li><a href="/post">New post</a></li>
                <li><a href="/feed">Feed</a></li>
            </ul>
        </nav>
        <button id="logoutButton">Logout</button>
    </header>
    <div id="headerContainer"></div>
    <h1>Edit User</h1>
    <form id="editForm">
        <input type="hidden" name="id" id="id">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <br>
        <label for="password">Change password:</label>
        <input type="password" id="password" name="password">
        <input type="submit">
    </form>

    <hr>

    <span id="notif">
    </span>
    <button id="notif-button" type="submit"></button>
        
    <span style="visibility: hidden;" id="editFeedback"></span>
    <div id="footerContainer"></div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            authFetch(`/api/user/whoami`)
                .then(data => {
                    document.getElementById('id').value = data.id;
                    document.getElementById('email').value = data.email;
                    document.getElementById('username').value = data.username;
                    document.getElementById('notif').innerText = `Notifications by email ${data.notifications ? " enabled" : " disabled"}`;
                    document.getElementById('notif-button').innerText = `${data.notifications ? "Disable " : "Enable "}notifications`;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });

        document.getElementById('notif-button').addEventListener('click', function(event){
            event.preventDefault();

            authFetch('/api/user/notifications', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(data => {
                //document.getElementById("editFeedback").textContent = "Edited successfully";
                //document.getElementById("editFeedback").style.visibility= "visible";
                console.log(data);
                document.getElementById('notif').innerText = `Notifications by email ${data.notifications ? " enabled" : " disabled"}`;
                document.getElementById('notif-button').innerText = `${data.notifications ? "Disable " : "Enable "}notifications`;
            })
            .catch(error => {
                document.getElementById("editFeedback").textContent = error;
                document.getElementById("editFeedback").style.visibility = "visible";
            });

        })

        document.getElementById('editForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const id = document.getElementById('id').value;
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const username = document.getElementById('username').value;

            authFetch('/api/user/edit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id, email, username, password })
            })
            .then(data => {
                document.getElementById("editFeedback").textContent = "Edited successfully";
                document.getElementById("editFeedback").style.visibility= "visible";
                console.log(data);
            })
            .catch(error => {
                document.getElementById("editFeedback").textContent = error;
                document.getElementById("editFeedback").style.visibility = "visible";
            });
        });
    </script>
</body>
</html>
