<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <script src="https://kit.fontawesome.com/2db25d6296.js" crossorigin="anonymous"></script> 
    <script src="/scripts/authFetch.js" defer></script>


</head>
<body>


    <div id="headerContainer"></div>
    <h1>Edit User</h1>
    <div class="container">
        <form id="editForm">
            <input type="hidden" name="id" id="id">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <br>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
            <br>
            <label for="password">Change password:</label>
            <input type="password" id="password" name="password">
            <input type="submit">
        </form>

        <span style="visibility: hidden;" id="editFeedback"></span>
        <br />
        <hr>

        <span id="notif">
        </span>
        <input id="notif-checkbox" type="checkbox" role="switch" name="switch">
        <span id="notif-text"></span>
        <br> 


    </div>
    <br> 
    <div id="footerContainer"></div>
    <script src="/scripts/templateLoader.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            authFetch(`/api/user/whoami`)
                .then(data => {
                    document.getElementById('id').value = data.id;
                    document.getElementById('email').value = data.email;
                    document.getElementById('username').value = data.username;
                    const checkbox = document.getElementById('notif-checkbox');
                    if (data.notifications){
                        checkbox.checked = true;
                    }
                    document.getElementById('notif-text').innerText = `Notifications by email ${data.notifications ? "enabled " : "disabled"}`;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });

        document.getElementById('notif-checkbox').addEventListener('change', function(event){
            event.preventDefault();

            authFetch('/api/user/notifications', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(data => {
                const checkbox = document.getElementById('notif-checkbox');
                if (data.notifications){
                    checkbox.checked = true;
                }
                document.getElementById('notif-text').innerText = `Notifications ${data.notifications ? "enabled " : "disabled"}`;
            })
            .catch(error => {
                document.getElementById("editFeedback").textContent = error;
                document.getElementById("editFeedback").style.visibility = "visible";
            });

        })

        document.getElementById('editForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const id = document.getElementById('id').value;
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const username = document.getElementById('username').value;

            authFetch('/api/user/edit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id, email, username, password })
            })
            .then(data => {
                document.getElementById("editFeedback").textContent = "Edited successfully";
                document.getElementById("editFeedback").style.visibility= "visible";
                console.log(data);
            })
            .catch(error => {
                document.getElementById("editFeedback").textContent = error;
                document.getElementById("editFeedback").style.visibility = "visible";
            });
        });
    </script>
</body>
</html>
