<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <script src="/scripts/authFetch.js" defer></script>
</head>
<body>
    <h1>Profile</h1>
    <div id="profile">
        <p>ID: <span id="id"></span></p>
        <p>Email: <span id="email"></span></p>
        <p>Username: <span id="username"></span></p>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const userId = urlParams.get("id");
            authFetch(`/api/user/view?id=${userId}`)
                .then(data => {
                    document.getElementById('id').innerText = data.id;
                    document.getElementById('email').innerText = data.email;
                    document.getElementById('username').innerText = data.username;
                })
                .catch(error => {
                });
        });
    </script>
</body>
</html>
