

<header>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/user/edit">Edit profile</a></li>
            <li><a href="/post">New post</a></li>
            <li><a href="/feed">Feed</a></li>
            <li><button id="logoutButton">Logout</button></li>
        </ul>
    </nav>
    
</header>

<head>
    
<link rel="stylesheet" href="../styles/pico.min.css">
<link rel="stylesheet" href="../styles/myPico.css">
<link rel="stylesheet" href="../styles/normalize.css">
</head>